* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 1rem;
}

#gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

#gallery .image {
  background: #ddd;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

#gallery .image p {
  position: absolute;
  bottom: 1rem;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
}

#gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery .image:hover {
  transform: scale(1.05);
}
